<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2 " type="button" [routerLink]="['/form1secation/form1component']">Reactiv form with Bulider form</button>
      <button class="btn btn-sm btn-outline-secondary me-2" type="button" [routerLink]="['/reactivesecation/reactivecomponent']">Only Reactiv form</button>
      <button class="btn btn-sm btn-outline-secondary me-2" type="button" [routerLink]="['/lazysecation/lazycomponent']">Data</button>
      <button class="btn btn-sm btn-outline-danger " type="button" [routerLink]="['/login']">login</button>
    </form>
</nav>