<div class="contener-fluid" style="padding: 30px;">
    <div class="row justify-content-center aligen-item-center" style="height: 80vh;">
        <div class="col-8">
            <div class="card p-5">
                <h2 style="color: blueviolet;"> form lazy lodding</h2>
                <button class="btn btn-primary mb-3">open</button>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Field</th>
                            <th scope="col">value</th>
                        </tr>
                    </thead>
                    <body>
                        <tr>
                            <th>user name</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>password</th>
                            <th></th>
                        </tr>
                    </body>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #popupContent let-modal>
    

</ng-template>