<div class="container mt-5">
  <table class="table table-bordered table-hover">
    <thead class="table-danger">
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Job Number</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees" (click)="showDetails(employee)">
        <td>{{ employee.id }}</td>
        <td>{{ employee.fullName }}</td>
        <td>{{ employee.jobNumber }}</td>
        <td><button class="btn btn-primary">Details</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="myModal" class="modal" >
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedEmployee?.fullName }} Details</h5>
        <button type="button" class="btn-close" aria-label="Close"  (click)="closeModal()">
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Full Name:</strong> {{ selectedEmployee?.fullName }}</p>
        <p><strong>Mother's Name:</strong> {{ selectedEmployee?.motherName }}</p>
        <p><strong>Date of Employment:</strong> {{ selectedEmployee?.dateOfEmployment }}</p>
        <p><strong>Age:</strong> {{ selectedEmployee?.age }}</p>
        <p><strong>Gender:</strong> {{ selectedEmployee?.gender }}</p>
        <p><strong>Residence:</strong> {{ selectedEmployee?.residence }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
